//
   Created by D on 29.4.2016 ã..
nav#main-nav.navbar.navbar-default.navbar-fixed-top(ng-controller="MainNavCtrl")
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#") Project Management
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href="#/project/all") Projects
                li(ng-hide="identity.isAuthenticated()")
                    a(href="#/account/register") Register
                li(ng-show="identity.isAuthenticated()")
                    a(ng-href="#/{{identity.currentUser.profile}}/projects", ng-click="")  My Projects
                li(ng-show="identity.isAuthenticated()")
                    a(href="#/project/create", ng-click="") Create Project
            div(ng-include="'/partials/account/login-form'")
