body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #02C39A;
    /*background-color: #A8DADC;*/
}

#main-nav {
    background-color: #028090;
    border-color: #02C39A;
    border-radius: 1%;
}

#main-nav .nav a {
    color: #FFFFFF;

}

#main-nav .navbar-brand {
    color: #FFFFFF;
}

#main-nav .nav li:hover {
    background: #00A896;
}

.nav-btn {
    background-color: #011627;
    color: #FDFFFC;
}

#tasks-panel .panel-heading {
    background-color: #028090 !important;
    border-color: #028090 !important;
    background-image: none !important;
    color: #FDFFFC;
}

#tasks-panel .project-view .panel-body {
    margin: 0;
    padding: 0;
}

.panel-default > .panel-heading-custom {
    background-image: none;
    /*background-color: #05668D;*/
    background-color: #028090;
    color: #FDFFFC;
}

.panel {
    border-color: #028090;
}

h3.panel-title {
    font-size: 130%;
}

.panel-collapse .panel-body .view-project {
    padding: 0;
    margin: 0;
}

#all-projects-cnt, #edit-project-cnt, #my-projects, #view-single-project-cnt, #registration-panel, #create-project-cnt, #edit-user-profile-cnt {
    margin-top: 1%;
}

#all-projects-cnt .panel {
    margin: 2%;
}

#registration-form .input-group {
    margin: 3%;
}

#login-form input {
    margin-right: 10px;
}

.toast-top-right {
    top: 60px
}

#filterLabel {
    margin-left: 5px;
    margin-right: 5px;
}

.custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#task-filter-cnt span {
    margin-left: 7px;
    margin-right: 7px;

}

#task-filter-cnt {
    margin-bottom: 3%;
}

/*.navbar .nav > li > a {*/
/*font-size: 20px;*/
/*}*/